server:
  forward-headers-strategy: framework

spring:
  application:
    name: skhu-link

  profiles:
    active: local

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true

    mvc:
      pathmatch:
        matching-strategy: ant_path_matcher

    jackson:
      serialization:
        fail-on-empty-beans: false

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

  security:
    oauth2:
      client:
        registration:
          microsoft:
            client-id: ${MS_CLIENT_ID}
            client-secret: ${MS_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
        provider:
          microsoft:
            authorization-uri: https://login.microsoftonline.com/${MS_TENANT_ID}/oauth2/v2.0/authorize
            token-uri: https://login.microsoftonline.com/${MS_TENANT_ID}/oauth2/v2.0/token
            user-info-uri: https://graph.microsoft.com/oidc/userinfo
            user-name-attribute: sub
            jwk-set-uri: https://login.microsoftonline.com/${MS_TENANT_ID}/discovery/v2.0/keys

  jwt:
    secret: ${JWT_SECRET}
    access-token-expiration: 3600000
    refresh-token-expiration: 1209600000

  cors:
    allowed-origins:
      - http://localhost:3000
      - http://localhost:8080
      - https://skhu-link.duckdns.org
    allowed-methods: GET, POST, PUT, PATCH, DELETE, OPTIONS
    allowed-headers: "*"
    allow-credentials: true

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG

cloud:
 aws:
   credentials:
     access-key: ${AWS_ACCESS_KEY}
     secret-key: ${AWS_SECRET_KEY}
   s3:
     bucket: ${AWS_S3_BUCKET}
   region:
     static: ap-northeast-2
   stack:
     auto: false